spring:
  profiles:
    active: local
  data:
    mongodb:
      # Prefer supplying a full connection URI via the SPRING_DATA_MONGODB_URI environment variable.
      # If SPRING_DATA_MONGODB_URI is not set, the default below will be used (no credentials).
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/sadhanakaala_db}
      host: ${SPRING_DATA_MONGODB_HOST:localhost}
      port: ${SPRING_DATA_MONGODB_PORT:27017}
      database: ${SPRING_DATA_MONGODB_DATABASE:sadhanakaala_db}
      username: ${SPRING_DATA_MONGODB_USERNAME}
      password: ${SPRING_DATA_MONGODB_PASSWORD}
  
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

server:
  port: 8080

# Logging
logging:
  level:
    root: INFO
    # "[org.springframework.security]": DEBUG
    "[orgsarava338.sadhanakaala]": DEBUG
    "[org.mongodb.driver]": WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
